/* Main.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.information {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 5px;
}

.selfIntroduce, .homepageIntroduce {
  margin-bottom: 10px;
}

.selfIntroduce {
  font-size: 1.1em;
  color: #333;
}

.homepageIntroduce {
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
}

form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form input[type="text"],
form input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
}

form input[type="submit"] {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1em;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

.movieTableContainer {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* 9 columns for the 9 movie attributes */
  gap: 10px;
  background-color: #f4f4f9;
  padding: 20px;
}

.movieValuesTitles, .movieValuesRow {
  display: contents; /* Ensure grid cells align with title and data rows */
}

.movieTitle, .movieValue {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.movieTitle {
  font-weight: bold;
  background-color: #007BFF;
  color: white;
}

.movieValue {
  background-color: #e9f5ff;
}

@media (max-width: 768px) {
  .movieTableContainer {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media (max-width: 480px) {
  .movieTableContainer {
    grid-template-columns: repeat(9, 1fr);
  }
}

/* Container for the footer */
.movieFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
  border-top: 1px solid #e0e0e0;
}

/* Left and Right navigation buttons */
.leftNumberBtn, .rightNumberBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.leftNumberBtn:hover, .rightNumberBtn:hover {
  background-color: #0056b3;
}

/* Number buttons */
.numberBtn {
  background-color: #ffffff;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 10px 15px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.numberBtn:hover {
  background-color: #007bff;
  color: white;
}

/* Active number button */
.numberBtn.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #0056b3;
}
